body {
	color: #525252;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #cccccc;
	background-repeat: repeat-x;
}
a, a:link, a:visited { color: #525252; text-decoration: none; }
a:hover { color: #292929; text-decoration: underline; }
#wrapper {
	width: 300px;
	padding: 0px;
	margin: 0 auto;
}

#index_container{
	width: 300px;
	height: 605px;
	padding: 0px;
	margin: 0 auto;
	background-color: #292929;
}
#logo{
	width: 100%;
	text-align: center;
}
#radio{
	height: 80px;
	width: 100%;
	text-align: center;
}
#radio img{
	height: 100%;
}
#sign_in{
	width: 100%;
	margin-top: 20px;
	text-align: center;
}
#sign_up{
	margin-top: 10px;
	width: 100%;
	text-align: center;
	
}
#left-pane{
	height: 100%;
	width: 300px;
	background-color: #333333;
	border-color: #888888;
}
.errorMessage{
	width: 100%;
	color: red;
	height: 15px;
	font-size: 12px;
	line-height: 15px;
	text-align: left;
}
#footer {
	width: 300px;
	font-size: 11px;
	text-align: center;
	color: #777;
	padding: 30px 0 10px 0;
	margin-top: -30px;
}
.gen-label{
	color: #AAAAAA;
	font-weight: bold;
	font-size: 20px;	
}
.inputLabel{
	height: 30px;
	width: 100%;
	line-height: 30px;
	background-color: #191919;
	border: 1px solid #292929;
	border-style: inset;
	border-right: none;
	border-bottom: none;
	border-left: none;
}
.input-wrap{
	color:#AAA;
	width: 100%;
	font-size: 14px;
	background-color: #303030;
	border: 1px solid #292929;
	border-style: inset;
	border-left: none;
	border-right: none;
	border-bottom: none;
	z-index: 9;
}
.inputBox{
	width: 196px;
	height: 28px;
	color:#888888;
	text-align: left;
	font-size: 15px;
	background-color: #494949;
	border: none;
}
table{
	border-collapse: collapse;
	margin-top: 10px;
}
td{
	min-width: 100px;
}
input:focus{
    outline: none;
    background-color: #202020;
}
.index-button {
	-moz-box-shadow:inset 0px 0px 0px -50px #707070;
	-webkit-box-shadow:inset 0px 0px 0px -50px #707070;
	box-shadow:inset 0px 0px 0px -50px #707070;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #525252), color-stop(1, #424242) );
	background:-moz-linear-gradient( center top, #525252 5%, #424242 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#525252', endColorstr='#424242');
	background-color:#525252;
	display:inline-block;
	color:#AAAAAA;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	width: 100%;
	height: 100%;
	min-height: 30px;
	text-decoration:none;
	text-shadow:1px 0px 50px #878787;
	border: none;
	cursor:pointer;
}
.index-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #424242), color-stop(1, #525252) );
	background:-moz-linear-gradient( center top, #424242 5%, #525252 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#525252');
	background-color:#424242;
}
.index-button:active {
	position:relative;
	color:#292929;
}
.index-link{
	cursor: pointer;	
}

.index-link:hover{
	text-decoration: underline;	
	color: #AAAAAA;
}
#sign-up,#clear{
	padding:6px 46px;
}

#left-panel-footer{
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
}
#left-panel-footer:hover{
	color: #fff;
}
