body {
	color: #525252;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #cccccc;
	background-repeat: repeat-x;
}
a, a:link, a:visited { color: #525252; text-decoration: none; }
a:hover { color: #292929; text-decoration: underline; }
#wrapper {
	width: 840px;
	padding: 0px;
	margin: 0 auto;
}

#index_container{
	width: 840px;
	height: 605px;
	padding: 0px;
	margin: 0 auto;
	background-color: #525252;
}
#logo{
	width: 100%;
	text-align: center;
}
#sign_in{
	margin-top: 20px;
}
#sign_up{
	margin-top: 40px;
}
#left-pane{
	height: 100%;
	width: 300px;
	background-color: #292929;
	border-color: #888888;
	border-style: outset;
	border-top: none;
	border-bottom: none;
	border-left: none;
}
#right-pane{
	height: 100%;
	width: 539px;
	margin-top: -605px;
	margin-left: 300px;
	color: white;
	font-family: "MS Sans Serif", Geneva, sans-serif;
	text-align: center;
}
#footer {
	width: 840px;
	font-size: 11px;
	text-align: center;
	color: #777;
	padding: 30px 0 10px 0;
	margin-top: -30px;
}
.gen-label{
	color: #AAAAAA;
	font-weight: bold;
	font-size: 20px;	
}
.input-wrap{
	margin-top: 10px;
	color:#AAA;
	font-size: 14px;
	background-color: #303030;
	border: 1px solid #444444;
	border-style: inset;
	z-index: 9;
}
.inputBox{
	width: 200px;
	height: 30px;
	color:#888888;
	text-align: left;
	margin-left: 33px;
	font-size: 15px;
	background-color: #494949;
	border: none;
}
#firstName{
	margin-left: 29px;
}
#lastName{
	margin-left: 30px;
}
#passwordInput{
	margin-left: 36px;
}
#re-passwordInput{
	margin-left: 15px;
}
#emailId{
	margin-left: 44px;
}
input:focus{
    outline: none;
}
.index-button {
	-moz-box-shadow:inset 0px 0px 0px -50px #707070;
	-webkit-box-shadow:inset 0px 0px 0px -50px #707070;
	box-shadow:inset 0px 0px 0px -50px #707070;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #525252), color-stop(1, #424242) );
	background:-moz-linear-gradient( center top, #525252 5%, #424242 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#525252', endColorstr='#424242');
	background-color:#525252;
	display:inline-block;
	color:#AAAAAA;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 58px;
	text-decoration:none;
	text-shadow:1px 0px 50px #878787;
	border: none;
	margin-left: 5px;
	cursor:pointer;
	margin-top: 10px;
}
.index-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #424242), color-stop(1, #525252) );
	background:-moz-linear-gradient( center top, #424242 5%, #525252 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#525252');
	background-color:#424242;
}
.index-button:active {
	position:relative;
	color:#292929;
}
.index-link{
	cursor: pointer;	
}

.index-link:hover{
	text-decoration: underline;	
	color: #AAAAAA;
}
#sign-up,#clear{
	padding:6px 48px;
}
#radio-cont{
	width: 100%;
	text-align: center;
}
#radio{
	height: 200px;
}
#information{
	margin-left: 4px;
	font-size: 16px;
	font-family: "MS Sans Serif", Geneva, sans-serif;
	color: white;
	text-align: left;
}
.info-ico{
	height: 60px;
}
