#songInfoBar-wrapper{
	height: 200px;
	width: 100%;
	background-color: #000022;
	padding: 7px 0px 0 0px;
}
.songCard{
	height: 190px;
	width: 190px;
	background-color: #000033;
}
#firstCard{
	margin-left: 8px;
}
#secondCard{
	margin-top: -190px;
	margin-left: 208px;
}
#thirdCard{
	margin-top: -190px;
	margin-left: 408px;
}
.emptyCard{
	background-color: #000022;
}

