#songInfoBar-wrapper{
 height: 190px;
 width: 100%;
 padding: 7px 0px 0 0px;
}
.songCard{
 height: 180px;
 width: 180px;
 float: left;
 background-color:#525252;
 margin-left: 10px;
}
#controller-wrapper{
 width: 640px;
 height: 40px;
 position:absolute;
 margin-top: 60px;
 margin-left: 200px;
 background-color: #525252;
 z-index: 8; 
}

#songInfoBar-wrapper:hover #left-arrow .arrow-icon{
 display: block;
}
#songInfoBar-wrapper:hover #right-arrow .arrow-icon{
 display: block;
}
#left-arrow{
 float: left;
 position: relative;
 width: 30px;
 height: 140px;	
 z-index: 9;
}
#right-arrow{
 float: right;
 position: relative;
 width: 30px;
 height: 140px;
 z-index: 9;
}
.arrow-icon{
 position: relative;
 display:none;
 margin-top: 75px;
 width: 30px;
 cursor: pointer;
 z-index: 9;
}
.arrow-icon:active{
 opacity: 0.3;
}
#slidable{
 background-color: #292929;
 border: 1px solid #292929;
 border-style: inset;
}
#songCard-wrapper{
 margin: auto; 
 text-align: center; 
 position: relative;
 margin-bottom: 20px !important;
 z-index: 5;
}
.scrolls{
 overflow-x: hidden;
 overflow-y: hidden;
 
}
.scrollDiv{	
 margin: 0;
    height: 100%;
}
#station-wrapper{
 height: 300px;
 width: 200px;
 border-style: inset;
 border:none;
 border-top: 1px solid #292929;
 overflow-x: hidden;
 overflow-y: hidden;
}
.station{
 height: 30px;
 width: 100%;
 background-color: #525252;
 color: #aaa;
 margin-top: 1px;
 cursor: pointer;
 overflow-x: hidden;
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
 padding: 0px 10px;
 line-height: 30px;
 z-index: 7;
}
.station-arrow{
	background: url('/palpasa/assets/images/remove.png') no-repeat right center;
	width: 15px;
	float: right;
	right: 0px;
	height: 100%;
	z-index: 9;
	opacity: 0.5;
	display: none;
}
.station-arrow:hover{
	opacity: 0.9;
}
.station-arrow:active{
	opacity: 0.1;
}
.station-name{
	width: 100%;
}
.station:hover{
 background-color:#626262;
}
.station:hover .station-arrow{
 	display: block;
}
.userControlOption:hover .station-arrow{
	display: block;
}
.station:active{
 background-color:#727272;
}
#advertisement{
 border-top: 2px solid #292929;
 height: 100%;
 width: 100%;
}
.current{
	border: 2px solid #000000;
	border-top: none;
}

.progressBar{
	height: 5px;
	background-color: #303030;
	display: none;
}
.current .progressBar{
	display: block;
}
.current .progressBar .progress{
	height: 100%;
	background-color: #FFFFFF;
}
.artistImg{
	height: 90px;
}
.songCard .songInfo{
	height: 90px;
	background-color: #202020;
	color: white;
	text-align:left;
	opacity: 0.9;
	display: none;
}
.songCard:hover .songInfo{
	display: block;
}
.songInfoVal{
	display: block;
	height: 20px;
	line-height: 20px;
	color:#AAA;
	width: 100%;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 9;	
}
.rating{
	height: 30px;
}
.thumbs{
	height: 20px;
	cursor: pointer;
}
.thumbs:hover{
	opacity: 0.5;
}
